<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="home-page">
	<div class="service-container">
		<a href='housekeeping.html'>
			<div class="service-item housekeeping">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x">&#xe603;</i>
					</div>
					<figcaption>
						<span>保洁服务</span>
						<p>日常保洁、包月保洁、新居开荒</p>
					</figcaption>	
				</figure>
			</div>
		</a>
		<a href='cleaning.html'>
			<div class="service-item cleaning">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x">&#xe605;</i>
					</div>
					<figcaption>
						<span>清洗服务</span>
						<p>玻璃清洗、油烟机清洗</p>
					</figcaption>
				</figure>
			</div>
		</a>
		<a href='nurse.html'>
			<div class="service-item manipulation">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x">&#xe604;</i>
					</div>
					<figcaption>
						<span>保姆服务</span>
						<p>月嫂、育婴师、保姆</p>
					</figcaption>
				</figure>
			</div>
		</a>
		<div class="service-item col">
			<figure>
				<div class="icon-box">
					<i class="iconfont if-5x more-icon">&#xe606;</i>
				</div>
				<figcaption>
					<span class="for-more">敬请期待</span>
					<p>即将推出</p>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="contract">
		<span>客服电话 400-880-9205</span>
	</div>
</div>
