<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page">
	<div class="service-container">
		<a href="cleanWindow.html">
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-green">&#xe611;</i>
					</div>
					<figcaption>
						<span>玻璃清洗</span>
						<p>明亮窗外色彩</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
		<a href="fotile.html">
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-purple">&#xe612;</i>
					</div>
					<figcaption>
						<span>油烟机清洗</span>
						<p>除尽油吸尽烟</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
	</div>
	<div class="contract">
		<span>客服电话 400-880-9205</span>
	</div>
</div>