<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page appointment-page cleanWindow-page">
	<div class="service-container">
		<table class="about-time">
			<thead>
				<tr>
					<th>类型</th>
					<th>价格</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>擦玻璃</td>
					<td>12.0元/平米（120.0元起）</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service window-service">
			<thead>
				<tr>
					<th>房屋户型</th>
					<th>玻璃面积参考</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>一居室（80㎡以下）</td>
					<td>10㎡</td>
				</tr>
				<tr>
					<td>二居室（80-120㎡）</td>
					<td>10-15㎡</td>
				</tr>
				<tr>
					<td>三居室（120-140㎡）</td>
					<td>15-25㎡</td>
				</tr>
				<tr>
					<td>四居室以上（140㎡以上）</td>
					<td>25㎡以上</td>
				</tr>
			</tbody>
		</table>
		<div class="service-tips">
			注：玻璃面积（含玻璃框架）以现场实地测量为准，不能清洗部分不计费
		</div>
		<table class="about-service window-service">
			<thead>
				<tr>
					<th>服务范围</th>
					<th>服务标准</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>玻璃内外表面</td>
					<td>无污渍 无尘灰 无水痕</td>
				</tr>
				<tr>
					<td>窗框</td>
					<td>无污渍 无水痕</td>
				</tr>
				<tr>
					<td>窗槽</td>
					<td>无沙砾 无水痕</td>
				</tr>
				<tr>
					<td>便捷可拆卸窗纱</td>
					<td>无灰尘</td>
				</tr>
				<tr>
					<td>窗台及及工作区域</td>
					<td>干净整洁</td>
				</tr>
			</tbody>
		</table>
		<div class="service-tips">
			<p>特殊说明：
			<P>1、以上“无污渍”指可去除污渍</P>
			<p>2、密封玻璃或防护网距玻璃过近，会影响清洗效果或不能清洗</P>
		</div>
	</div>
</div>