<div class="wrap">
	<div class="service-item">
		<figure>
			<div class="aunt-icon">
				<img src="/images/wx/cleaning/fotile/style-1.png"/>
			</div>
			<figcaption>
				<span>欧式油烟机</span>
				<p>160元/台</p>
			</figcaption>
			<div class="iconfont arrow aunt-uncheck fotile-type" data-fotile-type='0001000300020004' data-fotile-title='欧式油烟机（160元）'>
			</div>
		</figure>
	</div>
	<div class="service-item">
		<figure>
			<div class="aunt-icon">
				<img src="/images/wx/cleaning/fotile/style-2.png"/>
			</div>
			<figcaption>
				<span>中式油烟机</span>
				<p>160元/台</p>
			</figcaption>
			<div class="iconfont arrow aunt-uncheck fotile-type" data-fotile-type='0001000300020003' data-fotile-title='中式油烟机（160元）'>
			</div>
		</figure>
	</div>
	<div class="service-item">
		<figure>
			<div class="aunt-icon">
				<img src="/images/wx/cleaning/fotile/style-3.png"/>
			</div>
			<figcaption>
				<span>侧吸式油烟机</span>
				<p>160元/台</p>
			</figcaption>
			<div class="iconfont arrow aunt-uncheck fotile-type" data-fotile-type='0001000300020005' data-fotile-title='侧吸式油烟机（160元）'>
			</div>
		</figure>
	</div>
</div>
<div class="btn-chip">
	<button type="button" class="btn btn-submit fotile-type-btn">确定</button>
</div>