<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page">
	<div class="service-container">
		<a href='appointment.html'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-yellow">&#xe60e;</i>
					</div>
					<figcaption>
						<span>日常保洁</span>
						<p>家庭日常保洁</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
		<a href='monthly.html'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-green">&#xe610;</i>
					</div>
					<figcaption>
						<span>周期保洁</span>
						<p>每日为您的爱家保驾护航</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
		<a href='wasteland.html'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-purple">&#xe60f;</i>
					</div>
					<figcaption>
						<span>新居开荒</span>
						<p>为您新居增光添色</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>	
				</figure>
			</div>
		</a>
	</div>
	<div class="contract">
		<span>客服电话 400-880-9205</span>
	</div>
</div>