<div class="login-page">
	<div class="fill-item fill-phone">
		<div class="row">
			<div class="fill-des">
				<input type='text' id="login-mobile" placeholder="请填写手机号" />
			</div>
			<div class="fill-clear">
				<img src='/images/wx/fill-clear.png'/>
			</div>
			<div class="login-code-btn">
				<button class='btn-submit btn-disable' id="get-code" disabled="disabled">获取验证码</button>
			</div>
		</div>
	</div>
	<div class="fill-item fill-code">
		<div class="row">
			<div class="fill-des">
				<input type='text' id="login-code" placeholder="请输入验证码"/>
			</div>
		</div>
	</div>
	<div class="login-btn">
		<button class='btn-submit btn-disable' id="login-btn" disabled="disabled">确认</button>
	</div>
	<div class="login-tips">
		点击“确认”，即表示同意《<span>e享家用户协议</span>》
	</div>
</div>