<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="img/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="img/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="img/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page">
	<div class="service-container">
		<div class="service-item">
			<figure>
				<div class="icon-box">
					<img src="img/manipulation/child.png"/>
				</div>
				<figcaption>
					<span>推拿</span>
					<p>帮您和您的孩子消除疲劳</p>
				</figcaption>
				<div class="arrow">
					<img src="img/arrow.png"/>
				</div>
			</figure>
		</div>
	</div>
	<div class="contract">
		<span>客服电话 400-880-9205</span>
	</div>
</div>