<div class="newAddress-page">
	<p>为了更好的为您服务。请填写服务地址和联系方式</p>
	<div class="new-address">
		<div class="new-address-icon">
			<img src='img/order/fill/house.png'/>
		</div>
		<div class="address-house">
			<input type="text" placeholder='请输入您的小区或大厦地址'>
		</div>
	</div>
	<p class="address-tips">
		需要保洁的小区或大厦，例如：恒大华府
	</p>
	<div class="new-address address-detail">
		<div class="new-address-icon">
			<img src='img/order/fill/door.png'/>
		</div>
		<div class="address-house address-door">
			<input type="text" placeholder='请填写您的楼宇单元门牌号'>
		</div>
	</div>
	<p class="address-tips">
		具体单元门牌号，例如：15栋3单元201
	</p>
	<div class="address-list">
		
	</div>
	<button type="button" class="btn btn-submit new-address-btn">确定</button>
</div>