<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page">
	<div class="service-container">
		<a href='appointNurse.html?type=1'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-green">&#xe613;</i>
					</div>
					<figcaption>
						<span>保姆</span>
						<p>全能生活管家</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
		<a href='appointNurse.html?type=2'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-yellow">&#xe615;</i>
					</div>
					<figcaption>
						<span>月嫂</span>
						<p>竭尽全力用心呵护</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
		<a href='appointNurse.html?type=3'>
			<div class="service-item">
				<figure>
					<div class="icon-box">
						<i class="iconfont if-5x icon-purple">&#xe614;</i>
					</div>
					<figcaption>
						<span>育婴师</span>
						<p>专业宝宝启蒙</p>
					</figcaption>
					<div class="arrow">
						<i class="iconfont icon-arrow">&#xe616;</i>
					</div>
				</figure>
			</div>
		</a>
	</div>
	<div class="contract">
		<span>客服电话 400-880-9205</span>
	</div>
</div>