<div class="page-paySuccess">
	<div class="success-box">
		<div class='table pay-ok-title'>
			<div class='row'>
				<div class="pay-ok-icon">
					<img src='/images/wx/order/ok.png'/>
				</div>
				<div class="pay-ok">
					支付成功
				</div>
			</div>
		</div>
		<button type="button" class="btn group-btn" id="go-comment">给手艺人个好评吧</button>
		<button type="button" class="btn group-btn" id="go-order">返回订单列表</button>
		<button type="button" class="btn group-btn" id="go-home">继续下单</button>
	</div>
</div>