<div class="recharge-page">
  <div class="not-vip">
    <div class="vip-logo">
      <img src='img/profile/recharge/vip.png'/>
    </div>
    <div class="vip-tips">
      <p>您还不是会员，立即充值</p>
      <p>开始e享家，体验贴心服务</p>
    </div>
  </div>
  <div class="charge-item">
    <div class="table-box">
      <div class="charge-price-icon">
        <img src='img/profile/recharge/500.png'/>
      </div>
      <div class="charge-price">
        <span>充500送50</span>
      </div>
      <div class="charge-btn">
        <button type="button" class="btn btn-submit btn-small blue">充值</button>
      </div>
    </div>
  </div>
  <div class="charge-item">
    <div class="table-box">
      <div class="charge-price-icon">
        <img src='img/profile/recharge/1000.png'/>
      </div>
      <div class="charge-price">
        <span>充1000送120</span>
      </div>
      <div class="charge-btn">
        <button type="button" class="btn btn-submit btn-small red">充值</button>
      </div>
    </div>
  </div>
  <div class="charge-item">
    <div class="table-box">
      <div class="charge-price-icon">
        <img src='img/profile/recharge/1500.png'/>
      </div>
      <div class="charge-price">
        <span>充1500送200</span>
      </div>
      <div class="charge-btn">
        <button type="button" class="btn btn-submit btn-small green">充值</button>
      </div>
    </div>
  </div>
  <div class="charge-item">
    <div class="table-box">
      <div class="charge-price-icon">
        <img src='img/profile/recharge/2000.png'/>
      </div>
      <div class="charge-price">
        <span>充2000送280</span>
      </div>
      <div class="charge-btn">
        <button type="button" class="btn btn-submit btn-small purple">充值</button>
      </div>
    </div>
  </div>
  <div class="charge-item">
    <div class="table-box">
      <div class="charge-price-icon">
        <img src='img/profile/recharge/3000.png'/>
      </div>
      <div class="charge-price">
        <span>充3000送380</span>
      </div>
      <div class="charge-btn">
        <button type="button" class="btn btn-submit btn-small yellow">充值</button>
      </div>
    </div>
  </div>
  <div class="vip-code-container">
    <div class="vip-code-box">
      <div class="vip-code">
        <span>会员卡兑换码</span>
      </div>
      <div class="vip-code-tips">
         <span>使用说明</span>
      </div>
    </div>
  </div>
  <div class="vip-privilege">
    <p>会员服务特权</p>
    <div class="vip-privilege-box">
      <figure>
        <img src='img/profile/recharge/discount.png'/>
        <figcaption>充值立即返券</figcaption>
      </figure>
      <figure>
        <img src='img/profile/recharge/payment.png'/>
        <figcaption>会员快捷支付</figcaption>
      </figure>
      <figure>
        <img src='img/profile/recharge/one_card.png'/>
        <figcaption>会员一卡通</figcaption>
      </figure>
      <figure>
        <img src='img/profile/recharge/protection.png'/>
        <figcaption>全面服务保障</figcaption>
      </figure>
    </div>
  </div>
</div>