<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page appointment-page cleanWindow-page">
	<div class="service-container">
		<table class="about-service">
			<thead>
				<tr>
					<th>上岗保障</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>公安联网、身份核实、家政健康证、育婴师证</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>预约流程</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>网上预约→门店面试月嫂→签订合同→支付费用→上门服务→服务完成</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>服务保障</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>1、标准化考核，严格甄选；</p>
						<p>2、三天带薪试用期，服务期间可申请更换服务人员；</p>
						<p>3、专属客服跟进，预约成功即享家政保险，快速理赔；</p>
						<p>4、服务人员全城覆盖，方便预约。</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>