<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page appointment-page cleanWindow-page">
	<div class="service-container">
		<table class="about-service fotile-category">
			<thead>
				<tr>
					<th>类型</th>
					<th>实物</th>
					<th>价格</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>欧式油烟机</td>
					<td><img src='/images/wx/cleaning/fotile/style-1.png'/></td>
					<td>160元</td>
				</tr>
				<tr>
					<td>中式油烟机</td>
					<td><img src='/images/wx/cleaning/fotile/style-2.png'/></td>
					<td>160元</td>
				</tr>
				<tr>
					<td>侧吸式油烟机</td>
					<td><img src='/images/wx/cleaning/fotile/style-3.png'/></td>
					<td>160元</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>服务范围</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>油烟机整体外观洁净光亮，挡光罩、油盒、油网、止回阀、涡轮及涡轮壳无油无痕，电路检测，工作区域干净整洁。</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>特殊说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<P>1、油烟机精洗不包含集成灶中的油烟机、直吸式油烟机；</P>
						<P>2、油烟机清洗服务时长分为1—2小时/台；</P>
						<P>3、服务前需开机1分钟检测油烟机各项功能、外观是否正常；</P>
						<P>4、操作过程中，如果发现油烟机内部有异常，手艺人会与您进行确认，并报送e享家客服部（更换维修需另收费）；</P>
						<P>5、服务完成后，请您开机5分钟进行验收；24小时内未提出异议则视为已经验收。</P>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>