<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page appointment-page cleanWindow-page">
	<div class="service-container">
		<table class="about-time">
			<thead>
				<tr>
					<th colspan="2">25-30元/每小时</th>
					<th colspan="2">2小时起</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>户型</td>
					<td>一居室</td>
					<td>两居室</td>
					<td>>三居室</td>
				</tr>
				<tr>
					<td>日常保洁<p>参考耗时</p></td>
					<td>2-3小时</td>
					<td>3-4小时</td>
					<td>>4小时</td>
				</tr>
				<tr>
					<td>大扫除<p>参考耗时</p></td>
					<td>4-5小时</td>
					<td>5-6小时</td>
					<td>>6小时</td>
				</tr>
			</tbody>
		</table>
		<div class="service-tips">
			<p>注：1、不同户型及油污、积灰程度会影响打扫时长，以上打扫时长仅供您参考</p>
			<p>2、预约5小时以上保洁服务，建议预约2位或2位以上手艺人上门</p>
		</div>
		<table class="about-service">
			<thead>
				<tr>
					<th>使用说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span>仅适用于日常家庭室内保洁，不可用于学校、办公室、商铺 、出租房、新装修房、长期未入住房、集体宿舍楼等。</span></td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>服务范围</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>家具、家电表面除尘及表面物品整理；地面、踢脚线清理；厨房及浴室墙面台面清理；门及门框表面清理；油烟机、室内玻璃表面擦洗。</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="service-tips">
			<p>注：1、厨柜内部（含内部陈设物品）、字画、古董、宗教陈设、易损易碎摆件、天花板及附属品（吊灯、吊顶等）不在清扫范围之内。</p>
			<p>2、室外玻璃、油烟机内部拆洗、家居保养不在服务范围之内。</p>
		</div>
	</div>
</div>