<div class="slider-container">
	<div class="slider">
	  	<div>
	  		<img src="/images/wx/banner/banner1.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner2.jpg"/>	
	  	</div>
	  	<div>
	  		<img src="/images/wx/banner/banner3.jpg"/>	
	  	</div>
  	</div>
  	<div class="slider-page">
  		<span class="current"></span>
  		<span></span>
  		<span></span>
  	</div>
</div>
<div class="housekeeping-page appointment-page cleanWindow-page">
	<div class="service-container">
		<table class="about-service">
			<thead>
				<tr>
					<th>类型</th>
					<th>价格</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>开荒保洁</p>
					</td>
					<td>
						<p>5.00元/平米</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="service-tips">
			注：开荒面积以建筑面积为准
		</div>
		<table class="about-service">
			<thead>
				<tr>
					<th>使用说明</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>1、本服务仅适用于新装修房屋或新装商户、办公室，重污的厨房和卫生间不属于服务范围内</p>
						<p>2、家具内部、字画、古董、宗教陈设、易损易碎摆件、吊灯不在清扫范围之内</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="about-service">
			<thead>
				<tr>
					<th>服务范围</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<p>1、整体清洁范围：
建筑垃圾清理，装修残余胶、漆、尘土清理，地面清洁，墙面、吊顶、踢脚线除尘。</p>
						<p>2、卫生间、厨房深度清洁</p>
						<p>3、室内所有房间玻璃清洗</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>