/*字体图标ios7图标上下会多出空白，ios6\ios9\安卓系统下均显示正常*/
@font-face {font-family: 'iconfont';
    src: url('iconfont/iconfont.ttf') format('truetype'), 
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:1.4rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.if-1x{
	font-size:1rem;
}
.if-2x{
	font-size: 2rem;
}
.if-3x{
	font-size: 3rem;
}
.if-5x{
	font-size:5rem;
}
html{
	font-size:62.5%;
}
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
body {
	margin:0;
	padding:0;
 	background:#eeeeee;
	font-family:'Microsoft YaHei', Arial, Lucida Grande, Tahoma, sans-serif;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
input,textarea {
    -webkit-appearance: none; /* 清除文本框阴影 */
}
.tangram-suggestion-main {
	z-index: 100;
}
.toasts-chip {
	padding: 1rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 1.6rem;
    top: 40%;
    position: fixed;
    left: 50%;
    margin-left: -10rem;
    z-index: 100;
    opacity: 0;
}
.alert-chip,.confirm-chip{
	position: fixed;
	width: 100%;
	top:0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	padding:0 2.5rem;
	text-align: center;
	opacity: 0;
	z-index: -1;
}
.alert-box,.confirm-box{
	background: rgba(255,255,255,0.85);
	color:#000;
	border-radius: 0.5rem;
	font-size: 1.4rem;
}
.alert-content,.confirm-content {
	padding: 2rem 1rem;
}
.alert-footer,.confirm-footer {
	padding:0rem 1rem;
	height: 5rem;
	line-height: 5rem;
	border-top:1px solid rgb(200,200,200);
	color: rgb(20,135,255);
	font-size: 1.6rem;
	font-weight: bold;
}
.confirm-footer > div {
	width: 50%;
}
.confirm-false {
	border-right: 1px solid rgb(200,200,200);
}
.container {
	/*绝对定位，进行内部滚动 */
    position: absolute;
    /* 使之可以滚动 */
    /* overflow-y: scroll; */
    overflow: auto;
    overflow-scrolling: touch;
    /* 增加该属性，可以增加弹性 */
    -webkit-overflow-scrolling: touch;
    width:100%;
    min-height: 100%;
}
.main {
	/* overflow-y: scroll; */
	/* overflow: auto; */
 	overflow: auto;
    overflow-scrolling: touch;
	padding-bottom:5rem;
}
.home-page {
	padding-left: 0.65rem;
	padding-right: 0.65rem;
}
.page-overlay {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 100;
}
.page-tips{
	width: 20rem;
    height: 10rem;
    position: absolute;
    margin-top: -5rem;
    margin-left: -10rem;
    z-index: 100;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.6rem;
}
.title {
	height:5rem;
	display: table;
	width:100%;
	border-bottom:1px solid rgb(189,189,186);
}
.title > div,.menu > div {
	display:table-cell;
	vertical-align:middle;
}
.position,.comment {
	width:30%;
}
.caption {
	width:40%;
	text-align:center;
	font-size:2rem;
	font-family:'黑体';
	color:rgb(79,78,79);
}
.logo {
	color:rgb(250,175,0);
}
.position {
	padding-left: 1.2rem;
}
.position img {
	height:1.5rem;
	vertical-align:middle;
}
.position span {
	font-size:1.6rem;
	color:#ccc;
	vertical-align:middle;
	margin-left:0.2rem;
}
.comment {
	text-align: right;
	padding-right: 1.2rem;
}
.comment img {
	height:1.5rem;
	vertical-align:middle;
}
.slider-container {
	overflow: hidden;
}
.slider {
	width: 500%;
}
.slider > div {
	width: 100vw;
	display: table-cell;
	transition: transform 0.5s ease-in-out 0s;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
}
.slider img {
	width: 100%;
	height: 13rem;
}
.slider-page {
    text-align: right; 
    position: absolute;
    margin-top: -2rem;
    width: 100%;
}
.slider-page span{
	display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    background: #000;
    opacity: 0.4;
}
.slider-page .current{
	background: #fff;
	opacity: 0.8;
}
.service-item {
	margin-top:1rem;
	border-radius:8px;
	background-color:rgb(250,250,250);
	border:1px solid rgb(233,231,231);
}
.service-item figure {
	display: table;
    width: 100%;
    height: 7rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.service-item .icon-box {
	vertical-align:middle;
	display: table-cell;
	width: 5rem;
}
.service-item img {
	width:4.7rem;
	vertical-align:middle;
}
.service-item figcaption {
	height: 4.7rem;
	vertical-align:middle;
	display: table-cell;
	padding-left: 0.5rem;
}
.service-item span {
	font-size:1.8rem;
	color:rgb(78,78,78);
}
.service-item p {
    font-size: 1.4rem;
    color:rgb(149,149,149);
    margin-top: 0.2rem;
}
.service-item .arrow {
	display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.arrow img {
	width: 12px !important;
}
.col {
	width: 49%;
	display:inline-block;
}
.fr {
	float:right;
}
.for-more {
	color:rgb(140,140,140) !important;
}
.contract {
	text-align: center;
	font-size:1rem;
	color:rgb(149,149,149);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:#fff;
	border-top: 1px solid #d0d0d0;
	font-size:1rem;
	height: 5rem;
}
.menu-item {
	color:#aaaaaa;
}
.menu-current {
	color:#f49b00;
}
.menu {
	display: table;
	width:100%;
	height: 5rem;
}
.menu img {
	width:2.5rem;
}
.toolbar {
	text-align:center;
}
.icon-order:before { content: "\e607"; }
.icon-profile:before { content: "\e608"; }
.icon-home:before { content: "\e60a"; }
.icon-profilec:before { content: "\e60d"; }
.icon-orderc:before { content: "\e60b"; }
.icon-homec:before { content: "\e60c"; }
.housekeeping i{
	color: #f8ae00;
}
.cleaning i{
	color: #5db646;
}
.manipulation i{
	color: #b15fc6;
}
.more-icon {
	color:#bbbbbb;
}
/*housekeeping-page css*/
.housekeeping-page .service-item {
	margin-left: 1rem;
	margin-top: 1rem;
	border-top-left-radius:6.4rem;
	border-bottom-left-radius:6.4rem;
	border:1px solid rgb(233,231,231);
}
.housekeeping-page .service-item span {
	font-size:1.6rem;
}
.housekeeping-page .service-item p {
	font-size:1.2rem;
}
.icon-yellow{
	color:#f8ae00;
}
.icon-green{
	color:#5db646;
}
.icon-purple{
	color:#b15fc6;
}
.icon-arrow {
	color:#9a9a9a;
}
/*order css*/
.order-page {
	font-size: 1.4rem;
}
.order-container {
	bottom: 5rem;
}
.order-item {
	min-height:11.5rem;
	background:rgba(255,255,255,0.65);
	color:rgb(103,103,103);
	position: relative;
	border-bottom: 1px solid rgb(231,231,231);
	margin-bottom: 1rem;
}
.order-icon-box {
	width: 3.5rem;
}
.order-icon,.order-item img {
    width: 3.5rem;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
}
.order-item figure {
	display: table;
	padding:1rem 1.4rem;
}
.order-item figcaption {
	display: table-cell;
	vertical-align: middle;
	padding-left: 0.8rem;
}
.order-item figcaption p {
	line-height: 2.2rem;
}
.order-item figcaption span:first-child {
    width: 7.5rem;
    color: rgb(103,103,103);
}
.order-item figcaption span {
    color: #aea49d;
    display: inline-block;
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-item .arrow {
	position: absolute;
    right: 1rem;
    margin-top: 3.5rem;
}
.no-order {
	text-align: center;
	margin-top: 15rem;
	color: #d1c3b5;
}
.no-order img {
	width:8rem; 
}
.order-arrow {
	width: 12px;
	padding-left: 10px;
}
.order-arrow img{
	width: 12px !important;
}
.order-status{
	text-align: right;
}
.order-item .table{
	padding-top:1rem;
}
.order-item .row > div {
	border-bottom: 1px solid rgb(231,231,231);
	padding-bottom: 1rem;
}
.order-aunt {
	padding:0 1.4rem;
}
.order-aunt-name {
	padding-left: 10px;
	text-align: left;
}
.order-again {
	text-align: right;
}
.order-again span {
	text-align: center;
	padding:0.5rem 1rem;
	border-radius: 0.5rem;
	background: #f8ae00;
	color:#ffffff;
}
.order-title{
	padding:0 1rem;
}
/*profile css*/
.profile-page {
	font-size: 1.6rem;
	color:rgb(103,103,103);
	padding-bottom: 2rem;
}
.profile-page .row {
	height: 5rem;
}
.profile-page .row > div {
	padding-top: 0;
	border-bottom:1px solid rgb(231,231,231);
}
.profile-page .row > div:last-child {
	text-align: right;
	padding-right: 1.5rem;
}
.menu-icon {
	padding-left: 1.5rem;
	width: 3rem;
}
.menu-icon i {
	font-size: 2.5rem;
	vertical-align: middle;
}
.menu-item img {
	vertical-align: middle;
	display: table-cell;
	width: 2.8rem;
}
.menu-item span {
	vertical-align: middle;
	display: table-cell;
}
.menu-des {
	padding-left: 1.1rem;
	line-height: 2.2rem;
}
.menu-right {
	color:rgb(249,194,71);
}
.profile-page .banner1 {
	background: url(/images/wx/profile/bg.png);
	background-size: cover;
	height: 12.5rem;
}
.menu-item > div {
	display: table;
}
.menu-item .arrow {
	position: absolute;
	right: 1rem;
	padding-top:0.5rem;
}
.profile-info {
	display: table;
	padding-left: 2.5rem;
	padding-top: 3.2rem;
}
.profile-icon {
	width: 6.5rem;
	display: table-cell;
	vertical-align: middle;
	border-radius: 50%;
	border:2px solid #fff;
}
.profile-detail {
	padding-left:1rem;
	height: 6.5rem;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.detail-item {
	display: table;
}
.profile-icon img {
	width: 100%;
	border-radius: 50%;
	vertical-align: middle;
}
.profile-detail i {
	font-size: 1.6rem;
	display: table-cell;
	vertical-align: middle;
	padding-right:0.5rem;
}
.profile-detail span {
	display: table-cell;
	vertical-align: middle;
}
.order-tabs {
	text-align: center;
	font-size: 1.2rem;
	height: 6rem;
	border-bottom: 1px solid rgb(231,231,231);
	color:rgb(103,103,103);
}
.order-tabs .row>div{
	width: 25%;
	padding-bottom: 1rem;
}
.order-tabs-current {
	background: #f8ae00;
	color: #ffffff;
}
.order-tabs i {
	font-size: 2.5rem;
}
.order-tabs img {
	height: 2.5rem;
}
.tabs-wait-service {
	text-align: center !important;
}
.tabs-title {
	text-align: left;
	border-bottom: 1px solid rgb(231,231,231);
	padding: 1rem;
}
.tabs-num-box {
	position: relative;
	width: 2.5rem;
	margin: 0 auto;
	margin-top: 1rem;
}
.order-tabs-num {
	background: #ed5454;
	min-width: 1.8rem;
	padding:0 0.5rem;
	height: 1.8rem;
	border-radius: 1.8rem;
	line-height: 1.8rem;
	position: absolute;
	right: -0.7rem;
	top: -0.5rem;
	text-align: center;
	color: #fff;
}
/*order-detail css*/
.order-detail-page {

}
.order-detail-page .title {
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	background: #fff;
	font-family: '黑体';
	font-size: 1.6rem;
	color:rgb(103,103,103);
}
.title .refresh {
	position: absolute;
	margin-top: 1.1rem;
	left: 1.5rem;
	width: 3rem;
}
.rotateAn{
	-webkit-animation: rotateAn 1s infinite linear;
}
@-webkit-keyframes rotateAn {
	0%{ -webkit-transform:rotate(0deg); }
	100%{ -webkit-transform:rotate(360deg); }
}
.order-cancel {
	position: absolute;
    right: 1.5rem;
    color: rgb(153,140,130);
}
.order-detail-page .banner1 {
	background: url(/images/wx/profile/bg.png);
	background-size: cover;
	height: 8rem;
}
.aunt-info {
	display: table;
	padding-top: 1.2rem;
    padding-left: 2rem;
}
.aunt-icon {
	width: 5.3rem;
	display: table-cell;
	vertical-align: middle;
}
.search-aunt-icon{
	font-size: 5.3rem;
	color:#f8ae00 !important;
}
.aunt-icon img {
	width: 100%;
	border-radius: 100%;
}
.aunt-detail {
	display: table-cell;
	vertical-align: middle;
	padding-left:1.5rem;
}
.aunt-detail .detail-item span {
	font-size: 1.2rem;
	line-height:2rem;
	color:#555555;
}
.aunt-info .telephone {
	position: absolute;
    right: 1rem;
    margin-top: 2rem;
    color:rgb(111,110,111);
}
.order-detail-page li {
	color: rgb(103,103,103);
	font-size: 1.4rem;
	padding:1.5rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.table {
	display: table;
	width: 100%;
}
.row {
	display: table-row;
}
.row > div {
	display: table-cell;
	vertical-align: middle;
	padding-top: 1rem;
}
.row:first-child > div {
	padding-top: 0;
}
.menu-item-title {
	color: rgb(103,103,103);
	font-size: 1.6rem;
	width: 7rem;
}
.menu-item-title-auto {
	color: rgb(103,103,103);
	font-size: 1.6rem;
}
.menu-item-right {
	text-align: right;
}
.arrow-icon {
	width: 12px;
}
.pay-more {
	color:rgb(237,78,78);
}
.pay-icon,.balance-icon {
	width: 22rem;
}
.pay-icon img,.balance-icon img{
	height: 2.2rem;
	vertical-align: middle;
	margin-right: 1rem;
}
.pay-balance {
	border-bottom: none !important;
}
.pay-check img,.balance-check img{
	height: 2.9rem;
}
.pay-btn-box {
	margin-top: 2rem;
}
.coupon-price{
	color:rgb(237,78,78);
}
/*appraise*/
.wait-appraise {
	font-size: 1.4rem;
	color:rgb(103,103,103);
}
textarea {
	font-family: '微软雅黑';
	font-size: 1.4rem;
	color:rgb(120,120,120);
}
.order-detail .menu-item i {
	font-size: 2.5rem;
	color:#f8ae00;
}
.order-detail .remark {
	padding-top: 0.9rem;
	padding-left: 1.5rem;
}
.remark span:first-child {
	width: 4.5rem;
}
.order-appraise {
	padding:1rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.appraise-comments {
	padding:1rem;
}
.order-appraise p {
	color:rgb(103,103,103);
}
.appraise-card {
    display: table;
    width: 100%;
}
.wait-appraise .appraise-card {
	border-bottom:none;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.appraise-card > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.appraise-card i {
	font-size: 3rem;
	vertical-align: middle;
	padding-bottom: 0.5rem;
}
.appraise-card span {
	vertical-align: middle;
}
.appraise-other {
	border-top: 1px solid rgb(231,231,231);
	padding-bottom: 1rem;
}
.appraise-tips-box {
	padding-left: 1.9rem;
	padding-right: 1.9rem;
}
.appraise-tips {
	margin-top: 0.5rem;
  width: 100%;
  height: 5.9rem;
  border: 1px solid rgb(190,190,189);
  border-radius: 0.5rem;
  padding: 0.9rem;
}
.submit-box {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn-submit {
	width: 100%;
    height: 5rem;
    border: none;
    background: #f8ae00;
    font-size: 1.8rem;
    color: #ffffff;
    font-family: '黑体';
}
.aunt-chip {
}
.appraise-me {
	margin-top: 3rem;
	margin-left: 1.5rem;
}
.date-card {
	margin-top:1rem;
}
.date-card > div {
	float: left;
	padding:0.5rem;
	border: 1px solid rgb(222,222,222);
	margin-right:-1px; 
	margin-bottom:-1px;
}
/*coupons css*/
.coupons-page {
	padding: 1rem;
}
.exchange-box {
	display: table;
	width: 100%;
}
.form-box {
	display: table-cell;
	width: 100%;
}
.coupons-code {
	height: 4.5rem;
	width: 100%;
	border:none;
	border-radius: 5px;
	background: rgb(228,228,228);
	border: 1px solid rgb(228,228,228);
	padding-left: 1rem;
	font-size: 1.8rem;
}
.change-coupons {
	height: 4.5rem;
	border-radius: 5px;
}
.btn-small {
	width: 6.5rem;
	height: 4.5rem;
	display: table-cell;
	margin-left: 1.1rem;
}
.coupons-tips {
	margin-top: 1.3rem;
	color:#814d25;
}
.coupons-tips span {
	line-height: 22px;
	font-size: 1.4rem;
}
.none-coupons {
	text-align: center;
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
}
.none-coupons img {
	width: 8.7rem;
}
.none-coupons p {
	margin-top: 20px;
  font-size: 1.6rem;
  color: #aaa;
}
.coupons-not {
	height: 4.5rem;
	background: none;
	color: #aaa;
	font-size: 2rem;
	margin-top: 2rem;
	border: 2px solid #ccc;
	display: none;
}
.coupons-chip {
	margin-top: 13px;
}
.coupons-chip .table {
	background: rgba(255,255,255,0.65);
	border:1px solid #ddd;
	border-radius: 3px;
}
.coupons-border img {
	height: 125px;
	vertical-align: middle;
}
.coupons-type {
	padding: 5px;
    border-radius: 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.coupons-num {
	text-align: center;
	margin-left: -15px;
	font-size: 28px;
}
.coupons-num span {
	font-size: 60px;
}
.coupons-right {
	font-size: 15px;
	color:rgb(103,103,103);
	text-align: center;
	line-height: 30px;
	background: url(/images/wx/profile/coupons/ejia.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.coupons-blue {
	color:rgb(159,168,225);
	border-right: 1px dotted rgb(159,168,225);
}
.coupons-blue .coupons-type {
	border: 1px solid rgb(159,168,225);
}
.coupons-purple {
	color:rgb(204,180,203);
	border-right: 1px dotted rgb(204,180,203);
}
.coupons-purple .coupons-type {
	border: 1px solid rgb(204,180,203);
}
.coupons-yellow {
	color:rgb(243,201,91);
	border-right: 1px dotted rgb(243,201,91);
}
.coupons-yellow .coupons-type {
	border: 1px solid rgb(243,201,91);
}
.coupons-green {
	color:rgb(140,195,176);
	border-right: 1px dotted rgb(140,195,176);
}
.coupons-green .coupons-type {
	border: 1px solid rgb(140,195,176);
}
.coupons-disable {
	color:rgb(181,181,181);
	border-right: 1px dotted rgb(181,181,181);
}
.coupons-disable .coupons-type {
	border: 1px solid rgb(181,181,181);
}
.coupons-out {
	position: absolute;
	margin-top: -85px;
	right: 20px;
	z-index: -1;
}
.coupons-tabs {
	margin-top: 1rem;
	border:1px solid #814d25;
	border-radius: 5px;
	text-align: center;
	font-size: 1.4rem;
	color:#814d25;
}
.coupons-tabs .row > div {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.coupons-tabs .current{
	background: #814d25;
	color: #fff;
}
.coupon-used {
	border-left: 1px solid #814d25;
	border-right: 1px solid #814d25;
}
/*service-address*/
.no-address {
	display: none;
}
.address-page {
	font-size: 1.4rem;
	color:rgb(103,103,103);
}
.address-page .table {
	height: 7rem;
	background: rgba(255,255,255,0.65);
	border-bottom: 1px solid rgb(231,231,231);
	transition: transform 0.5s ease-in-out 0s;
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
}
.swipe-left{
	-webkit-transform:translateX(-10rem);
}
.address-icon {
	width: 5.5rem;
	padding-left: 2rem;
}
.address-icon i {
	font-size: 2.4rem;
	color: #f8ae00;
}
.address-page .door {
	padding-top: 0.6rem;
	color:rgb(149,149,149);
}
.address-del {
	background: rgb(255,59,47);
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	position: absolute;
	width: 10rem;
	height: 7rem;
	line-height: 7rem;
}
/*feedback css*/
.feedback-page {
	padding: 1.5rem 1rem;
}
.feedback-content {
	width: 100%;
	height: 12.7rem;
	border-radius: 1rem;
	border:2px solid #ccc;
	margin-bottom: 2.3rem;
	padding: 0.8rem 1.5rem;
	font-size: 1.2rem;
	line-height: 22px;
}
/*recharge css*/
.recharge-page {
	padding-top: 1.4rem;
	padding-bottom: 2rem;
}
.not-vip {
	display: table;
	width: 100%;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	padding-bottom: 1.4rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.vip-logo {
	width: 7.5rem;
	text-align: center;
	vertical-align:middle;
	display: table-cell;
	background-color: rgb(210,210,210);
	height: 6.5rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.vip-logo i {
	font-size: 5rem;
}
.vip-tips {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
	font-size: 1.4rem;
	color:rgb(172,172,172);
	line-height:25px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.charge-item {
 	width: 100%;
  	font-size: 1.6rem;
  	border-bottom: 1px solid rgb(231,231,231);
  	color:rgb(103,103,103);
}
.charge-price,.charge-price-icon,.charge-btn{
	display: table-cell;
	vertical-align: middle;
  	height: 6rem;
}
.charge-price-icon {
	width: 4rem;
}
.charge-price-icon img {
	width: 4rem;
	padding-left: 1.2rem;
	vertical-align: middle;
}
.charge-price {
	padding-left: 1.2rem;
}
.charge-btn {
	text-align: right;
	padding-right: 1.2rem;
}
.charge-btn button {
	width: 5rem;
	height: 3rem;
	border-radius: 0.5rem;
	font-size: 1.6rem;
}
.blue {
	background-color: rgb(128,183,255);
}
.red {
	background-color: rgb(232,83,87);
}
.green {
	background-color: rgb(88,219,162);
}
.purple {
	background-color: rgb(185,144,188);
}
.yellow {
	background-color: rgb(243,179,103);
}
.vip-code-container {
	margin-left: 1rem;
	margin-right: 1rem;
}
.vip-code-box {
	display: table;
	width: 100%;
	height: 4rem;
	border-radius: 1rem;
	border:2px solid rgb(155,155,155);
	margin-top: 1.5rem;
	background: rgb(239,239,237);
}
.vip-code{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.6rem;
	color:rgb(156,68,0);
}
.vip-code-tips {
	text-align: right;
	font-size: 1.4rem;
	color:rgb(156,68,0);
	margin-right: 1rem;
	margin-top: 1rem;
}
.vip-privilege {
	text-align: center;
    margin-top: 2.5rem;
    padding-right: 0.7rem;
}
.vip-privilege-box {
	display: -webkit-box;
    -webkit-box-pack: center;
}
.vip-privilege p {
	font-size: 1.4rem;
	color:rgb(131,131,131);
	margin-bottom: 2.2rem;
	color:rgb(156,68,0);
}
.vip-privilege figure {
	-webkit-box-flex: 1;
}
.vip-privilege figure i {
	font-size: 5rem;
	color:#814d25;
}
.vip-privilege figcaption {
	color:rgb(131,131,131);
}
.vip-tips-modal {
	width: 22rem;
	height: 36rem;
	position: fixed;
	left: 50%;
	top:50%;
	margin-top: -18rem;
	margin-left: -11rem;
	z-index: 110;
	background: #fff;
	border-radius: 0.5rem;
	padding: 1.5rem;
	display: none;
}
.vip-change {
	display: none;
	text-align: center;
}
.modal-header {
	font-size: 1.6rem;
	text-align: center;
	font-weight: bold;
}
.vip-tips-modal p {
	line-height: 25px;
}
.modal-body {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.modal-close {
	position: absolute;
    right: -1rem;
    top: -1rem;
}
.modal-close img {
	width: 3rem;
}
.change-code {
	font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    height: 4rem;
    width: 16rem;
    padding-left: 1rem;
}
#change-btn {
	height: 4rem;
	border-radius: 5px;
}
/*appointment css*/
.appointment-page {
	padding-bottom: 5rem;
}
.appointment-page .service-container {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.appointment-page table {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}
.appointment-page th,.appointment-page td {
	border:1px solid #ddd;
	padding:8px;
	text-align: center;
}
.appointment-page thead {
	background: rgb(234,233,232);
}
.about-time {
	font-size: 1.4rem;
	color:rgb(60,59,57);
	padding-left: 1rem;
	padding-right: 1rem;
}
.about-time th {
	height: 3.7rem;
}
.about-time td {
	height: 4.5rem;
}
.about-time td p {
	font-size: 1rem;
}
.about-service {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
.service-tips {
	font-size: 1.2rem;
	margin-top:0.5rem;
}
.about-service th {
	font-size: 1.4rem;
}
.about-service td {
	font-size: 1.4rem;
	text-align: justify;
	line-height: 22px;
	vertical-align: top;
	padding:1rem 1.5rem;
}
.service-1 {
	font-size: 1.4rem;
	text-align: center;
}
.service-1 img{
	width: 100%;
}
.fotile-category td,.fotile-process td{
	vertical-align: middle;
	text-align: center;
}
.fotile-category img {
	width: 6rem;
}
.fotile-process img {
	width: 100%;
}
/*cleanWindow-page*/
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cleanWindow-page{
	line-height: 22px;
}
.about-service figure {
	display: table;
}
.about-service figure img {
	display: table-cell;
	vertical-align: middle;
	width: 50px;
}
.about-service figure figcaption {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1rem;
}
.window-service td {
	text-align: center;
}
.window-tips {
	margin-top: -1rem;
	line-height: 22px;
}
/*fillOrder-page*/
.fillOrder-page {
	position: absolute;
	top:0;
	width: 100%;
	z-index: 1;
}
.page {
	height: 100%;
	display: flex;
	flex-direction: column;
	/*兼容safari and x5*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}
.wrap {
	flex:1;
	-webkit-box-flex:1;
}
.fill-item {
    display: table;
    width: 100%;
    padding:1.5rem;
    font-size:1.6rem;
    color:rgb(103,103,103);
    border-bottom:1px solid rgb(231,231,231);
}
.week-num-chip {
	border-bottom: none;
}
.fill-icon {
	display:table-cell;
	vertical-align: middle;
	width: 3rem;
	padding-right: 1rem;
	text-align: center;
}
.fill-icon i {
	color: #f8ae00;
	font-size: 3rem;
}
.fill-des {
	display:table-cell;
	vertical-align: middle;
}
.fillOrder-page input {
	border: none;
	background: none;
    font-size: 1.6rem;
    color: rgb(103,103,103);
    font-family: '微软雅黑';
    width: 100%;
}
.fillOrder-page input::-webkit-input-placeholder {
	font-size: 1.6rem;
    color: rgb(103,103,103);
    font-family: '微软雅黑';
}
.fill-item .arrow {
	display:table-cell;
	vertical-align: middle;
	text-align: right;
}
.fill-coupons img,.fill-area img{
	width: 2.7rem;
	height: auto;
}
.fill-myAunt {
	border-bottom: none;
}
.go-myAunt {
	text-align:right;
	font-size:1.4rem;
	text-decoration:underline;
	color:#814d25 !important;
}
.to-aunt {
	width: 18rem;
	border:1px solid #814d25;
	border-radius: 5px;
	margin:0 auto;
	margin-top: 2rem;
	color:#814d25;
	padding:0.5rem 1rem;
	text-align: center;
}
.to-aunt i {
	font-size: 2.5rem;
	color:#814d25;
}
.fill-insurance,.fill-price {
	text-align: center;
}
.fill-price {
	font-size: 2.5rem;
	color:#ee4e4d;
	margin-top: 3rem;
}
.fill-insurance {
	color: #908f8f;
	text-decoration: underline;
	margin-top: 1rem;
	font-size: 1.4rem;
	line-height: 2.5rem;
}
.fill-other-modal {
	position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: none;
    z-index: 101;
}
.fill-other-btn {
	color:rgb(156,68,0);
	font-size: 1.6rem;
	height: 3rem;
}
.fill-other-btn .conform {
	float: right;
}
.fill-other {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.fill-other textarea {
	width: 100%;
    background: none;
    border: 1px solid rgb(155,155,155);
    height: 6.5rem;
    border-radius: 10px;
    padding: 1rem;
}
.flex-row {
	display: -webkit-box;
	display: flex;
	-webkit-box-align:center;
	justify-content: center;
}
.flex-row > div {
	-webkit-box-flex: 1;
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid rgb(155,155,155);
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    color:rgb(120,120,120);
    margin-top: 1rem;
}
.fill-btn-box {
}
.flex-row-left {
	margin-right: 0.7rem;
}
.flex-row-right {
	margin-left: 0.7rem;
}
.aunt-remark .flex-row > div .active{
	background: rgb(254,231,125);
}
.phone-code {
	padding-left: 1rem;
	padding-right:1rem;
}
.phone-code input {
	border:1px solid #dfbc9b;
	padding: 10px;
	border-radius: 5px;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.8rem;
	color: rgb(103,103,103);
}
#mobileNum {
	width: 100%;
}
#checkCode {
	width: 12rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.btn-medium {
	width: 10rem;
}
.aunt-remark .flex-row .current {
	background: rgb(254,231,125);
}
.fill-week {
	margin-top: 0.5rem;
	display: -webkit-box;
    -webkit-box-pack: justify;
    height:5rem;
    line-height: 5rem;
    text-align: center;
    border:1px solid rgb(222,222,222);
    color:#9b4200;
}
.fill-week-tips{
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.4rem;
	color: rgb(103,103,103);
}
.fill-week div {
	-webkit-box-flex:1;
	border-right:1px solid rgb(222,222,222);
}
.fill-current {
	background: #f8ae00;
	color:#fff;
}
.fill-week div:last-child {
	border-right:none;
}
.fill-begin select {
	font-size: 1.4rem;
	margin-left: 1rem;
	display: none;
}
.myAuntChip-row figure{
	width: 5.3rem;
	text-align: center;
}
.nurse-remark{
	margin-left: 4rem;
}
.nurse-remark textarea{
	width: 22rem;
	height: 10rem;
	padding:1rem;
	border:1px solid rgb(103,103,103);
	background: none;
}
/*new address css*/
.newAddress-page {
	opacity: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
}
.new-address {
	display: table;
	width: 100%;
	padding:1.8rem 1.2rem;
	font-size: 1.4rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.newAddress-page input {
 	color: rgb(103,103,103);
 	background: none;
}
#l-map {
	height: 15rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	display: none;
}
.newAddress-page p {
	font-size: 1.4rem;
	color:rgb(211,190,175);
}
.address-tips {
	height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid rgb(231,231,231);
    padding-left: 1.6rem;
}
.new-address input {
	border:none;
	font-size: 1.6rem;
	font-family: '微软雅黑';
	width: 100%;
}
.new-address input::-webkit-input-placeholder {
    color: rgb(103,103,103);
    font-family: '微软雅黑';
}
.new-address > div {
	display: table-cell;
	vertical-align: middle;
}
.new-address-icon {
	width: 3.4rem;
}
.new-address-icon i {
	font-size: 2.4rem;
	color:#f8ae00;
}
.address-tips {
	color:rgb(166,129,100) !important;
}
.btn-chip {
}
.address-list {
	padding-bottom: 5rem;
	display: none;
}
/*myAunt css*/
.myAunt-page {
	opacity: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
	font-size: 1.4rem;
	color:rgb(103,103,103);
}
.myAunt-page .aunt-icon img {
	width: 6rem;
}
.aunt-info-base {
	width: 6rem;
}
.myAunt-page .service-item {
	margin-top: 0;
	border-radius: 0;
	border-top: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.fotileType-page .service-item {
	margin-top: 0;
	border-radius: 0;
	border-top: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.aunt-uncheck:before { content: "\e634"; }
.aunt-checked:before { content: "\e635"; }
.aunt-uncheck {
	font-size: 3rem;
}
.aunt-checked{
	font-size: 3rem;
	color: #f8ae00;
}
/*auntList-page*/
.auntList-page {
	font-size: 1.4rem;
	padding-top: 5rem;
}
.auntList-page .service-item {
	border-radius: 0 !important;
	margin-left: 0;
	padding-top:0.5rem;
	padding-bottom: 1rem;
}
.auntList-page .service-item img {
	width: 6rem;
}
.aunt-level {
	width: 5rem;
}
.aunt-star {
    border-radius: 0 !important;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 1.2rem !important;
}
.aunt-icon{
	padding-right: 1rem;
}
.auntList-page figure{
	padding-top: 1rem;
}
.auntList-page figcaption {
	padding-right: 1.5rem;
}
.auntList-myAunt {
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	border-bottom: 1px solid rgb(231,231,231);
}
.auntList-otherAunt {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}
.auntList-tips {
	color: #c8ac9b;
	padding-top: 0.5rem;
	text-align: center;
}
.aunt-company {
	color: rgb(149,149,149);
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
	border-bottom: 1px solid rgb(231,231,231);
}
/*auntDetail-page*/
.auntDetail-page {
	font-size: 1.2rem;
	color: #555555;
	top:0;
	bottom: 5rem;
}
.auntDetail-page .slider-container {
	height: 16rem;
}
.auntDetail-page .aunt-info {
	padding-top: 0;
    padding-left: 1.5rem;
    width: 100%;
    height: 16rem;
    background: url(/images/wx/aunt-card.png);
    background-size: cover;
}
.auntDetail-page .aunt-info .detail-item {
	line-height: 2.5rem;
}
.auntDetail-page .aunt-icon {
	width: 7rem;
}
.auntDetail-page .aunt-icon p {
	text-align: center;
	margin-top: 0.5rem;
}
.aunt-experience {
	padding-left: 2rem;
}
.detail-item .auth {
	display: inline-block;
	text-align: center;
	line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid #814d25;
    color:#814d25 !important;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.info-title {
	color:#888888 !important;
}
.order-appraise-title {
	border-bottom: 1px solid rgb(231,231,231);
	font-size: 1.6rem;
	color: #f8ae00;
	background: #fff;
	padding:1rem;
}
.auntDetail-page .appraise-card p{
	color: #f8ae00;
}
.auntDetail-page .order-appraise {
	background: #fff;
}
.auntDetail-page .appraise-item {
	color: rgb(103,103,103);
}
.comments-item {
	display: table;
	width: 100%;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(231,231,231);
	font-size: 1.4rem;
}
.comments-item > div {
	display: table-cell;
	vertical-align: middle;
}
.comments-detail p:first-child{
	padding-top: 0.5rem;
}
.comments-detail p{
	padding-bottom: 0.5rem;
}
.comments-phone {
	float: right;
	text-align: right;
}
.comments-time,.comments-phone p{
	color:rgb(173,173,173) !important;
	font-size: 1.2rem !important;
}
.select-aunt {
	text-align: center;
	height: 4.5rem;
	line-height: 4.5rem;
}
.select-aunt > div {
	width: 50%;
	text-align: center;
	float: left;
}
.select-other {
	border-right: 1px dotted #fff;
}
.select-this {
	border-left: 1px dotted #fff;
}
.icon-star {
	color:#f8ae00;
}
.icon-star:before { content: "\e61b"; }
.icon-averageh:before { content: "\e61d"; }
.icon-average:before { content: "\e61c"; }
.icon-goodh:before { content: "\e61a"; }
.icon-good:before { content: "\e619"; }
.icon-bad:before { content: "\e617"; }
.icon-badh:before { content: "\e618"; }
.icon-goodh,.icon-badh,.icon-averageh{
	color: #f8ae00;
}
/*page-paySuccess*/
.success-box{
	width: 21rem;
	margin:0 auto;
	margin-top: 5rem;
}
.pay-ok-title{
	margin-bottom: 4rem;
}
.group-btn {
	text-align: center;
	font-size: 1.6rem;
	border: 1px solid #bbb;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 10px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: none;
	width: 100%;
}
.pay-ok-icon {
	text-align:right;
	width: 8rem;
}
.pay-ok-icon img {
	width: 3rem;
}
.pay-ok{
	font-size: 1.8rem;
	padding-left: 1.7rem;
}
.btn:hover{
	opacity: 0.9;
}
/*page-bills*/
.bills-title {
	height: 12rem;
	font-size: 1.6rem;
	color:rgb(103,103,103);
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.bills-detail {
	top:12rem;
	bottom: 0;
}
.expense-count {
	border-left: 1px solid #ccc;
	width: 50%;
}
.expense-count p:first-child{
	color: #ed5555;
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}
.charge-count p:first-child {
	color:rgb(113,194,132);
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}
.bills-item {
	border-bottom: 1px solid rgb(231,231,231);
	padding: 1.5rem;
	font-size: 1.6rem;
}
.bill-date {
	color:#a19f9f;
	width: 15rem;
	font-size: 1.4rem;
}
.bill-date p {
	line-height: 2rem;
}
.bill-icon {
	width: 5rem;
}
.bill-icon img {
	width:3rem; 
}
.bill-num {
	font-size: 2rem;
	text-align: right;
}
.bill-des {
	color: rgb(103,103,103);
}
.num-green {
	color:#5ca06c;
}
.num-red{
	color:#ed5555;
}
/*login-page*/
.login-page {
	color: rgb(103,103,103);
}
.login-page input {
	border:none;
	background: none;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.6rem;
	width: 12.5rem;
}
.login-page button{
	border-radius: 5px;
	height: 4rem;
	font-size: 1.6rem;
}
#login-code {
	width: 100%;
}
.login-page input::-webkit-input-placeholder {
	font-size: 1.6rem;
    font-family: '微软雅黑';
}
.fill-phone,.fill-code{
	border-bottom: 1px solid rgb(231,231,231);
	color:#a6a6a6;
}
.login-code-btn {
	padding-left: 1rem;
	width: 13rem;
}
.login-code-btn button {
	padding-left:0.5rem;
	padding-right:0.5rem;
}
.btn-disable {
	background: rgb(179,179,179);
	color:#fff;
}
.fill-clear {
	visibility:hidden;
}
.login-btn {
	padding:3rem 1rem;
}
.login-tips {
	font-size: 1.4rem;
	text-align: center;
}
.login-tips span {
	color:#4e7ad6;
}
/*animate*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.delay {
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s; /* Safari 和 Chrome */
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0)
	}
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

@-webkit-keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes bounceIn {
	0%,100%,20%,40%,60%,80% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		-ms-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	20% {
		-webkit-transform: scale3d(1.1,1.1,1.1);
		-ms-transform: scale3d(1.1,1.1,1.1);
		transform: scale3d(1.1,1.1,1.1)
	}

	40% {
		-webkit-transform: scale3d(.9,.9,.9);
		-ms-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9)
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03,1.03,1.03);
		-ms-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03)
	}

	80% {
		-webkit-transform: scale3d(.97,.97,.97);
		-ms-transform: scale3d(.97,.97,.97);
		transform: scale3d(.97,.97,.97)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		-ms-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}
.circle {
	position: absolute;
    width: 700px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -350px;
}
.circle .circle-a {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/images/wx/m-22.png");
	opacity: 0;
	filter: alpha(opacity=0)\9;
	animation: ani-circle-a 4.5s ease-out forwards infinite;
	-webkit-animation: ani-circle-a 4.5s ease-out forwards infinite
}

.circle .circle-b {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/images/wx/m-22.png");
	opacity: 0;
	filter: alpha(opacity=0)\9;
	animation: ani-circle-a 4.5s ease-out 1.5s forwards infinite;
	-webkit-animation: ani-circle-a 4.5s ease-out 1.5s forwards infinite
}

.circle .circle-c {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/images/wx/m-22.png");
	opacity: 0;
	filter: alpha(opacity=0)\9;
	animation: ani-circle-a 4.5s ease-out 3s forwards infinite;
	-webkit-animation: ani-circle-a 4.5s ease-out 3s forwards infinite
}
@-webkit-keyframes bounceInRight {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px,0,0);
		transform: translate3d(3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px,0,0);
		transform: translate3d(-25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInRight {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px,0,0);
		-ms-transform: translate3d(3000px,0,0);
		transform: translate3d(3000px,0,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px,0,0);
		-ms-transform: translate3d(-25px,0,0);
		transform: translate3d(-25px,0,0)
	}

	75% {
		-webkit-transform: translate3d(10px,0,0);
		-ms-transform: translate3d(10px,0,0);
		transform: translate3d(10px,0,0)
	}

	90% {
		-webkit-transform: translate3d(-5px,0,0);
		-ms-transform: translate3d(-5px,0,0);
		transform: translate3d(-5px,0,0)
	}

	100% {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px,0,0);
		transform: translate3d(-20px,0,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(2000px,0,0);
		transform: translate3d(2000px,0,0)
	}
}

@keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px,0,0);
		-ms-transform: translate3d(-20px,0,0);
		transform: translate3d(-20px,0,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(2000px,0,0);
		-ms-transform: translate3d(2000px,0,0);
		transform: translate3d(2000px,0,0)
	}
}

.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}
@keyframes bounceInUp {
	0%,100%,60%,75%,90% {
		-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
		transition-timing-function: cubic-bezier(0.215,.61,.355,1)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,3000px,0);
		-ms-transform: translate3d(0,3000px,0);
		transform: translate3d(0,3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,-20px,0);
		-ms-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0)
	}

	75% {
		-webkit-transform: translate3d(0,10px,0);
		-ms-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,-5px,0);
		-ms-transform: translate3d(0,-5px,0);
		transform: translate3d(0,-5px,0)
	}

	100% {
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0)
	}

	40%,45% {
		opacity: 1;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,2000px,0);
		transform: translate3d(0,2000px,0)
	}
}

@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0,10px,0);
		-ms-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0)
	}

	40%,45% {
		opacity: 1;
		-webkit-transform: translate3d(0,-20px,0);
		-ms-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,2000px,0);
		-ms-transform: translate3d(0,2000px,0);
		transform: translate3d(0,2000px,0)
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
@-webkit-keyframes ani-circle-a {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0)\9
	}

	50% {
		opacity: 1;
		filter: alpha(opacity=100)\9
	}

	100% {
		-webkit-transform: scale(3.5);
		opacity: 0;
		filter: alpha(opacity=0)\9
	}
}

@keyframes ani-circle-a {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		filter: alpha(opacity=0)\9
	}

	50% {
		opacity: 1;
		filter: alpha(opacity=100)\9
	}

	100% {
		-webkit-transform: scale(3.5);
		transform: scale(3.5);
		opacity: 0;
		filter: alpha(opacity=0)\9
	}
}
@-webkit-keyframes circle-rotate {
	0% {
		-webkit-transform: rotate(0deg);;
	}

	50% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}
